.flexRow {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contentContainer {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding: 1rem;
  width: 100%;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  min-width: 300px;
  width: fit-content;
}

.about img {
  width: 450px;
  object-fit: cover;
  /* padding: 20px; */
}

.about p {
  max-width: 800px;
  /* width: 40%; */
  padding: 20px;
}

.timelineTitle {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  margin: 1rem;
  font-family: "oswald", sans-serif;
}

.timelineSubtitle {
  font-size: 1.2rem;
  color: #a5543e;
  margin-top: 10px;
  margin: 10px 0px 10px 0px;
  font-family: "arial", sans-serif;
  border-bottom: 1px solid #a5543e;
  /* width: 30%; */
}

.timelineImg {
  padding: 10px;
}

.vertical-timeline-element-content p {
  /* font-family: "Cutive", serif; */
  font-weight: 400;
  font-style: normal;
  /* color: black; */
}

.vertical-timeline-element--work {
  /* background-image: url("/testPaper.jpg"); */
  background-repeat: no-repeat !important;
}

.vertical-timeline-element--work {
  font-family: "oswald", sans-serif;
}

.timelineImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.timelineImageContainer img {
  height: 150px;
}

.source {
  font-size: 1rem !important;
  font-weight: 300;
  font-family: "PT Serif", serif !important;
  font-style: italic !important;
  /* margin: 10px 0px 10px 0px; */
  margin-left: 10px !important;
  margin-top: -5px !important;
  width: 100%;
}

.rotate90 {
  transform: rotate(-90deg);
  /* height: 280px !important; */
  width: 55%;
  height: auto !important;
  object-fit: cover;
}
