/* General styles for the menu container */
.hamburgerMenu {
  position: relative;
  z-index: 20000000; /* Ensure the hamburger menu is above other content */
}

/* Hamburger icon container */
.hamburgerIcon {
  width: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  margin: -10px 0px;
  z-index: 30; /* Ensure the icon is above the menu */
  margin-right: 9vw;
}

/* Styles for each line of the hamburger icon */
.hamburgerIcon .line {
  width: 100%;
  height: 4px;
  background-color: white;
  transition: all 0.3s ease;
}

.hamburgerIcon .halfLine {
  width: 50%;
  height: 4px;
  background-color: white;
  transition: all 0.3s ease;
}

/* Menu items container */
.menuItems {
  display: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh; /*tijdens live update to 110vh */
  background-color: #202020; /* Updated to match background color for open state */
  z-index: 10; /* Ensure it covers the main content but below the icon */
  overflow-y: auto;
}

/* Styles for each link in the menu */
.menuItems a {
  margin: 25px 0px;
  padding: 10px 20px;
  color: white;
  font-family: "oswald", sans-serif;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.menuItems img {
  margin-left: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}
.menuItems a:hover {
  background-color: #535e38;
}

/* Show menu items when the menu is open */
.hamburgerMenu.open .menuItems {
  display: flex;
}

/* Transform lines to form an 'X' when the menu is open */
.hamburgerMenu.open .hamburgerIcon .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburgerMenu.open .hamburgerIcon .halfLine:nth-child(2) {
  transform: rotate(-45deg) translate(3px, -3px);
  width: 100%;
}

@media screen and (min-width: 800px) {
  .hamburgerMenu {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  /* Any specific styles for medium screens can go here */
}

@media screen and (max-width: 480px) {
  /* Any specific styles for very small screens can go here */
}
