@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

nav {
  /* background-color: #535E38; */
  /* background-color: rgba(255, 255, 255, 0.493); */
  /* background-color: #000000; */
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  background-image: linear-gradient(to bottom, #000000, transparent);
  /* position: sticky; */
  top: 0;
  z-index: 3;
  margin-bottom: 20px;
}

.buyBook {
  background-color: #535e38;
  color: white;
  padding: 10px !important;
}

.buyBook:hover {
  background-color: #a5543e !important;
  color: white !important;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  /* margin-right: auto; */
  /* padding-left: 1rem; */
  color: #535e38;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* span {
  color: #535e38;
} */

.navTitle {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin-right: auto;
  padding-left: 1rem;
  width: fit-content;
  height: 150px;
}

.navTitle a {
  font-family: "oswald", sans-serif !important;
}

.navTitle img {
  width: 150px;
  /* height: 50px; */
  /* object-fit: cover; */
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

nav a,
footer a {
  color: white;
  text-decoration: none;
  font-family: "oswald", sans-serif;
  font-family: 700;
  padding: 20px;
  text-align: center !important;
  transition: all 0.3s ease;
}

nav a:hover:not(.active) {
  color: #535e38;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #202020;
  color: white;
  /* padding: 1rem; */
  text-align: center;
  margin-top: 50px;
  /* bottom: 0; */
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 5;
}

footer img {
  width: 450px;
}

.desktopNav {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.desktopNav li,
.desktopNav a,
.desktopNav a ul {
  height: fit-content;
  padding-bottom: 0;
}

.backgroundImage {
  position: fixed;
  background-image: url("/topViewBG.jpg");
  /* filter: sepia(); */
  filter: brightness(1.5);
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;

  -webkit-animation: kenburns-top 20s ease-out alternate both infinite;
  animation: kenburns-top 20s ease-out alternate both infinite;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.outletWrapper {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  min-height: 100vh;
}

.titleHeading {
  font-size: 2rem;
  /* font-weight: 700; */
  color: white;
  text-align: center;
  margin: 1rem;
  /* width: 500px; */
  font-family: "oswald", sans-serif;
}

nav .mainTitle img {
  width: 250px;
  /* height: 40%;
  object-fit: cover; */
}

.titleContainer {
  display: flex;
}

.mainTitleWrapper {
  background-color: #ffffffb8;
  /* width: fit-content; */
  display: flex;
  position: fixed;
  top: 0;
  height: 100%;
}

.mainTitle img {
  width: 350px;
  /* height: 40%;
  object-fit: cover; */
}

.mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 50px; */
}

.textArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.textArea p {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding: 1rem;
  width: 40%;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  min-width: 300px;

  /* display: flex; */
  /* justify-content: center;
  flex-direction: column; */
}

p {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: white;
}

p img {
  filter: drop-shadow(0 0 0.75rem black);
}

h2 {
  text-align: center;
  /* border-bottom: #535e38 2px solid; */
  width: fit-content;
  /* background-color: #535e38; */
  position: relative;
  opacity: 0.5;
  /* top: -50px; */
  /* left: -20px; */
  padding: 3px;
  font-family: "oswald", sans-serif;
}

.flexIntro {
  flex-direction: column;
}

.pending {
  color: #a5543e;
}

.active {
  /* background-color: #535e38; */
  /* padding: 10px; */
  color: #535e38;
  border-bottom: #535e38 1px solid;
}

.Nav .dropdownMenu li::after {
  content: none;
}

.material-symbols-outlined {
  background-color: reds;
}
.dropdown {
  padding: 0 35px;
  position: relative;
}
.dropdown:hover .dropdownMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdownToggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "oswald", sans-serif;
  font-family: 700;
}

.dropdownToggle:hover {
  color: #535e38;
}

.dropdownMenu {
  /* width: %; */
  display: none;
  position: absolute;
  text-align: center;
  top: 25px;
  left: 0px;
  background-color: rgb(66, 66, 66);
  /* border: 1px solid #ccc; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
  overflow: hidden;
  margin-top: 5px;

  /* margin-top: 10px; */
}

.dropdownMenu li {
  margin: 0;
  border: none;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.dropdownMenu li a {
  left: 0;
  padding: 8px 40px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
}

/* li {
  display: flex;
  justify-content: center;
} */

.dropdownMenu li a:hover {
  background-color: #535e38;
  color: rgb(0, 0, 0);
}

p img {
  float: right;
  width: 400px;
  padding: 20px;
  /* width: 100px;

  height: 500px;
  position: absolute;
  top: 0;
  z-index: 500 !important; */
}

small {
  display: block;
  font-size: 1.5rem;
  margin-top: 10px;
  /* height: 10px !important; */
}

.img2 {
  float: left;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeMenuWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.homeMenu {
  max-width: 80%;
  min-width: 500px;
  height: 450px;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap !important;
  gap: 1rem;
}

.homeMenuItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.homeMenuItem {
  flex: 1;
  /* border-radius: 0.75rem; */
  overflow: hidden;
  cursor: pointer;
  transition: flex 0.5s ease-in-out;
}

.homeMenuItem:hover {
  flex: 2.5;
}

.gallery-container {
  position: absolute;
  top: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .homeMenu {
    flex-direction: column;
  }

  .navTitle {
    font-size: 1.5rem;
  }

  nav {
    font-size: 1rem;
    /* display: none; */
  }

  nav li,
  nav a {
    display: none;
  }

  .mainTitle {
    font-size: 10vw;
  }

  .textArea p {
    font-size: 1rem;
  }

  .dropdownMenu {
    top: 50px;
  }

  .dropdownMenu li a {
    padding: 8px 20px;
  }
}

.aboutImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
